<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="io" class="com.mc.flooringmastery.ui.UserIOConsoleImpl"/>

    <bean id="view" class="com.mc.flooringmastery.ui.FlooringMasteryView">
        <constructor-arg ref="io" />
    </bean>

    <bean id="controller" class="com.mc.flooringmastery.controller.FlooringMasteryController" >
        <constructor-arg ref="view" />
    </bean>
</beans>