<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="io" class="com.mc.flooringmastery.ui.UserIOConsoleImpl"/>

    <bean id="orderDao" class="com.mc.flooringmastery.dao.order.OrderDaoFileImpl"/>
    <bean id="taxDao" class="com.mc.flooringmastery.dao.tax.TaxDaoFileImpl"/>
    <bean id="productDao" class="com.mc.flooringmastery.dao.product.ProductDaoFileImpl"/>

    <bean id="service" class="com.mc.flooringmastery.service.FlooringMasteryServiceImpl">
        <constructor-arg ref="orderDao"/>
        <constructor-arg ref="taxDao"/>
        <constructor-arg ref="productDao"/>
    </bean>

    <bean id="view" class="com.mc.flooringmastery.ui.FlooringMasteryView">
        <constructor-arg ref="io" />
    </bean>

    <bean id="controller" class="com.mc.flooringmastery.controller.FlooringMasteryController" >
        <constructor-arg ref="view" />
        <constructor-arg ref="service"/>
    </bean>
</beans>